body {
    display: flex;
	min-height: 100vh;
	flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Utilisez un affichage flex pour aligner les éléments horizontalement */
    align-items: center; /* Alignez verticalement les éléments au centre */
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
  }

main {
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 22%;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-image {
    max-width: 100%; /* La largeur maximale sera celle de la carte */
    height: 150px; /* Fixez la hauteur des images à 150 pixels (ou la valeur de votre choix) */
}

.container-agence {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.image {
    height: 60vh; /* Fixez la hauteur des images à 60% du viewport */
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}
