<% if @agence_locale.present? %>
  <center><h2>Bienvenue dans l'agence de <%= @agence_locale.nom %></h2></center>
<% else %>
  <center><h2>Agence inconnue</h2></center>
<% end %>
<center>Vous êtes sur la machine qui a l'adresse IP: <%= @ip_locale %></center>
<%= render partial: "accueil/cartes" %>
